/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/css/ghpages-materialize.css"; /* This must be included to use the included variables and the color function */

/*
PRIMARY = #263238
TEXT/OUTLINE = #eceff1
ACCENT #81d4fa 
*/

.text {
    color: #eceff1;
}
.accent {
    color: #81d4fa;
}

.underline_accenting:focus {
    color:#81d4fa;
    border-bottom-color: #81d4fa !important;
}
.underline_accenting {
    color: #eceff1;
    border-bottom-color: #eceff1 !important;
}

/* This style ensures that icons inside of buttons are aligned in the center*/
md-icon {    
    height: auto !important;   
    width: auto !important; 
    
}

.circle-md {
	border-radius: 50%;
	width: 15vh;
	height: 15vh; 
    border-style:solid !important;
	/* width and height can be anything, as long as they're equal */
}

.circle-md:focus {
    background-color: #81d4fa;
    border-color: #81d4fa;
}

.circle-sm {
	border-radius: 50%;
	width: 10vh;
	height: 10vh; 
    min-height: 42px;
    min-width: 42px;
    border-style:solid !important;
	/* width and height can be anything, as long as they're equal */
}

.circle-sm:focus {
    background-color: #81d4fa;
    border-color: #81d4fa;
}

.setItem {
    height:100% !important;
    border-style:solid;
    border-left:none;
    border-right:none;
    border-color:#eceff1;
    padding:0 0 0 3vw !important;
}

.song_selected {
    border-style: solid;
    border-width: 4px;
    border-color: #81d4fa !important;
}

.show_rating_icon {
    display: block !important;
}

.fab_def {
    font-size:1em;
    padding: 2px;
    margin-top: 8px;
    right: 60px;
    position:absolute;
    background-color:#2d2d2d;
    color:white;
    border-radius: 2px;
    box-shadow: 1px 1px #000000;
    visibility: visible !important;

}




