<div>
	<h2 style="text-align:center;margin-top:0px;padding-top:3vh" class="text"> Browse Bands </h2>

	<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white" (click)="animateLabels()">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<ng-container *ngIf="showLabels">
				<li *ngFor="let label of buttonLabels;let i = index"><span [@labelstate] class="fab_def">{{label}}</span><a (click)="emit_event(pageEmitters[i])" class="btn-floating white"><i class="material-icons" style="color:#263238">{{buttonIcon[i]}}</i></a></li>
			</ng-container>
		</ul>
	</div>
	<div style="overflow-y:scroll;max-height:84vh">
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
	<md-card *ngFor="let name of artistList;let n=index" (click)="enter_band_view(n)" style="padding:16px 16px 16px 16px;margin-top:2px;margin-left:8px;margin-right:8px">
		<md-card-title>
			{{name}}
		</md-card-title>
		<md-card-content *ngIf="currentBandInView[n]">
			Genre: {{bands[n].genre}} <br>
			Bio: {{bands[n].bio}} <br>
		</md-card-content>
	</md-card>
	</div>
</div>
