<div style="background-color:#263238">
  <div style="padding:2vh">
    <!-- Default HTML for setting up nav button -->
    <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
      <a class="btn-floating btn-large white" (click)="animateLabels()">
        <i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
      </a>
      <ul>
        <!-- The click event here at the top button should either open a sign-in modal, or idk -->
        <ng-container *ngIf="showLabels">
          <li *ngFor="let label of buttonLabels;let i = index"><span [@labelstate] class="fab_def">{{label}}</span>
            <a (click)="emit_event(pageEmitters[i])" class="btn-floating white"><i class="material-icons" style="color:#263238">{{buttonIcon[i]}}</i></a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div style="display: blocks;justify-content: center;">
      <h3 style="color:#82d4f9;font-weight:bolder;text-align:center;">Welcome {{artistName}}</h3>
    </div>

    <md-card style="padding:16px">
      <div *ngIf="status == 'redirect'">
        <md-card-title>Please add songs to your song list before making a gig</md-card-title>
        <md-card-content style="text-align:center">
          <button md-button style="margin-top:3px;color:#263238;font:bolder" class="waves effect waves light btn light-blue accent-1"
            (click)="emit_event('songlist')">Go To Songs</button>
        </md-card-content>
      </div>

      <div *ngIf="status == 'viewGigs'">
        <md-card-title style="margin:0px">
          Your Gigs
          <button class="waves-effect waves-light waves-effect btn" style="float:right;background:#82d4f9;color:#263238;font-weight:bolder;padding-right:4px;padding-left:4px;height:auto;font-size:0.6em;"
            (click)="newGig()">Add Gig</button>
        </md-card-title>
        <md-card-content>
          <div class="scrollmenu" style="overflow: auto; white-space: nowrap;">
            <button style="margin-top:4px" *ngFor="let name of gigs;let n = index" md-button class="waves-effect waves-light waves-effect"
              (click)="viewGig(n)">{{n+1}}. {{name.GigName}}</button>
          </div>
        </md-card-content>
      </div>
      <div *ngIf="status == 'newGig'">
        <md-card-title>
          New Gig
          <button class="waves-effect waves-light waves-effect btn" style="float:right;background:#82d4f9;color:#263238;font-weight:bolder;padding:0px;height:auto;font-size:0.7em;"
            (click)="exitGig()">Cancel</button>
        </md-card-title>
        <md-card-content>

          <div class="input-field col s6">
            <input id="gn" [(ngModel)]="NewGig.GigName" class="underline_accenting" type="text" maxlength="50">
            <label for="gn" class="text">{{gigNamePlace}}</label>
          </div>
          <div class="input-field col s6">
            <input id="d" [(ngModel)]="NewGig.GigDate" class="underline_accenting" type="text" maxlength="25">
            <label for="d" class="text">{{DateOfGigPlace}}</label>
          </div>
          <div class="input-field col s6">
            <input id="t" [(ngModel)]="NewGig.GigTime" class="underline_accenting" type="text" maxlength="20">
            <label for="t" class="text">{{TimeOfGigPlace}}</label>
          </div>
          <div class="input-field col s6">
            <input id="t" [(ngModel)]="NewGig.GigLocation" class="underline_accenting" type="text" maxlength="50">
            <label for="t" class="text">{{LocationOfGigPlace}}</label>
          </div>
        </md-card-content>
        <button class="waves-effect waves-light waves-effect btn" style="float:center;background:#82d4f9;color:#263238;font-weight:bolder;padding:2px;height:auto;font-size:0.7em;"
            (click)="save()">Save</button>
      </div>
      <div *ngIf="status == 'viewingGig'">
        <md-card-title>
          Current Gig: {{gigs[selectedIndex].GigName}} 
		  <br>
		  <h6>GigID: {{gigs[selectedIndex].GigId}} </h6>
          <br>
        </md-card-title>
		<md-card-content>
          <md-select style="width:50vw" placeholder="Gig's Setlist" [(ngModel)]="selectedSetList">
            <!-- See if Angular has a drop down implementation -->
            <!-- Use a drop down here, then show results of what setlists have been added to the right or in a scrolling thing. -->
            <md-option (click)="addSetToGig(n);" [value]="name.SetListName" *ngFor="let name of currentArtist.Setlists;let n = index">{{n+1}}. {{name.SetListName}}</md-option>
          </md-select>
          <!-- <button md-button class="waves-effect waves-light waves-effect btn" style="display:inline-block;background:#82d4f9;color:#263238;font-weight:bolder;margin-top:3px;" (click)="addSetToGig()"> Add </button> -->
			<a target="_blank" id="setlistLink" style="float:right">Printable Setlist</a>
        </md-card-content>
        <md-card-content>
			<button md-button class="waves-effect waves-light waves-effect btn" style="background:#82d4f9;color:#263238;font-weight:bolder;margin-top:3px;" (click)="deleteGig()"> Delete </button>
         	<button md-button class="waves-effect waves-light waves-effect btn" style="background:#82d4f9;color:#263238;font-weight:bolder;margin-top:3px;" (click)="enterGig()"> Enter </button>
          	<button md-button class="waves-effect waves-light waves-effect btn" style="background:#82d4f9;color:#263238;font-weight:bolder;margin-top:3px;" (click)="backoutGig()"> Back to Gigs </button>
        </md-card-content>

      </div>
    </md-card>
  </div>
</div>
