<div style="height:100%;width:100%;">
<!-- Default HTML for setting up nav button -->
	<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white" (click)="animateLabels()">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Home</span><a (click)="emit_event('login')" class="btn-floating white"><i class="material-icons" style="color:#263238">home</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Chat</span><a (click)="emit_event('chat')" class="btn-floating white"><i class="material-icons" style="color:#263238">question_answer</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Request</span><a (click)="emit_event('request')" class="btn-floating white"><i class="material-icons" style="color:#263238">feedback</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Set</span><a (click)="emit_event('set')" class="btn-floating white"><i class="material-icons" style="color:#263238">music_video</i></a></li>
		</ul>
	</div>

	<div class="text" style="text-align:center;font-size:2em;width:auto;height:100%;padding-top:10% !important;margin:auto">

		<div id="chatLog" style="margin-left:3px;margin-right:3px;display:inline-block;overflow-y:scroll;width:96%;height:80%">
			<div *ngFor="let msg of messages" style="margin:0px;background-color:white;box-shadow:0px 5px 5px #263238;border-style:solid;border-width:2px;border-color:grey;height:auto;font-size:0.7em;display:block;word-wrap:break-word">
				<p align="left" style="margin:0px;padding-left:3px">{{msg.author}}: {{msg.message}}</p>
			</div>
		</div>
			<input id="msgInput" [(ngModel)]="activeMsg" style="padding-left:4px;border-style:solid;border-color:dimgray;border-radius:3px;width:96%;margin-left:3px;margin-right:3px;color:black;background-color:aliceblue" maxlength="140" placeholder="Send Message" />

	<div style="background-color:red;" id="triggedDiv" (click)="sendMsg()"></div>
	</div>

	<!--
	<body>
		<p>chat page</p>
		<div>
			<a (click)="emit_event('request')" class="">request</a>

			<a (click)="emit_event('rate')" class="">rate</a>

			<a (click)="emit_event('login')" class="">login</a>

			<button style=" font-size: 20">send chat</button>
		</div>
	</body>
	-->
</div>
