	<div>
		<!-- Default HTML for setting up nav button -->
	<div (click)="animateLabels()" class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Back</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">arrow_back</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Details</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">event_note</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Artists</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">face</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Sets</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">library_music</i></a></li>
		</ul>
	</div>
		<!-- first column of input boxes-->
		<div style="display: inline-block; ">
			<input [(ngModel)]="eventname" type = "text" placeholder = "Event Name" maxlength="50" style="float: left;padding-bottom: 5vh" />

			<div style="padding-bottom: 5vh">
				<input [(ngModel)]="date" type = "text" placeholder = "Month Day Year" maxlength="16" style="float: left;padding-bottom: 5vh" />
			</div>

			<div >
				<input [(ngModel)]="time" type = "text" placeholder = "Time of event" maxlength="10" style="float: left;padding-bottom: 5vh" />
			</div>

			<div>
				<textarea [(ngModel)]="notes" rows="4" cols="37" style="color: white;background-color: transparent;">Enter your notes about this event
				</textarea>
			</div>
			<button (click)="changeEvent()">save</button>
		</div>
		<!-- second column of buttons and set lists-->
		<div style="display: inline-block;margin-right: 15vw ;padding-bottom: 5vh">
				<button>start</button>
				<button >stop</button>

				<div style="padding-bottom: 5vh">
					<h2>Add set lists here</h2>
				</div>

				<div style="display: inline-block; padding-bottom: 5vh">
					<p style="display: inline;">set list</p>

					<a (click)="emit_event('createsets')" class="btn btn-default">add sets</a>
				</div>
		</div>

</div>
