<div style="background-color:#263238;">

	<!-- Default HTML for setting up nav button -->
	<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white" (click)="animateLabels()">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Back</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">arrow_back</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Info</span><a (click)="emit_event('editbio')" class="btn-floating white"><i class="material-icons" style="color:#263238">assignment</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Songs</span><a (click)="emit_event('songlist')" class="btn-floating white"><i class="material-icons" style="color:#263238">music_note</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Sets</span><a (click)="emit_event('setlist')" class="btn-floating white"><i class="material-icons" style="color:#263238">library_music</i></a></li>
		</ul>
	</div>
	<div style="display: blocks;justify-content: center;">
		<h1 style="color:#82d4f9;font-weight:bolder;text-align:center;">Tell people about yourself and your music</h1>
		<div style="justify-content:center;padding-left:10%;padding-right:10%">
			<div style="padding-left:20%"> 
				<textarea [(ngModel)]="newBio" cols="40" rows="5" style="text-align:center;color:white;width:75%;height:20%;">{{newBio}}</textarea>
			</div>
			<div class="input-field col-s3" > 
				<input class="underline_accenting" [(ngModel)]="newGenre" style="text-align:center;font-size:2em;width:100%;" type="text" placeholder="{{oldGenre}}" maxlength="53">
			</div>
			<md-card>
				<md-card-title>
					Your Band Members by email
				</md-card-title>
				<md-card-content>
						<div class="scrollmenu" style="overflow: auto; white-space: nowrap;">
							<button style="margin-top:4px" *ngFor="let name of members;let n = index" md-button class="waves-effect waves-light waves-effect">{{n+1}}. {{name}}</button>
							
						</div>
					<p style="color:#82d4f9;font-weight:bolder;text-align:center;"> add new members</p>
					<div class="input-field col s3">
						<input id="t" [(ngModel)]="memEmail" class="underline_accenting" type="text" maxlength="50">
						<label for="t" class="text">Member's email</label>
					</div>	
					<button md-button class="waves-effect waves-light waves-effect" style="text-align:center;justify-content:center;" (click)="addMem()">Add</button>

				</md-card-content>
			</md-card>

			<div style="text-align:center;margin-top:3px">
				<button md-button class="waves-light btn waves-effect light-blue accent-1" style="text-align:center" (click)="changeBio()">Save</button>
			</div>
		</div>
	</div>
</div>
