<div>

	<!-- Default HTML for setting up nav button -->
	<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white" (click)="animateLabels()">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Back</span><a (click)="emit_event('bandpage')" class="btn-floating white"><i class="material-icons" style="color:#263238">arrow_back</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Info</span><a (click)="emit_event('editbio')" class="btn-floating white"><i class="material-icons" style="color:#263238">assignment</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Songs</span><a (click)="emit_event('songlist')" class="btn-floating white"><i class="material-icons" style="color:#263238">music_note</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Sets</span><a (click)="emit_event('setlist')" class="btn-floating white"><i class="material-icons" style="color:#263238">library_music</i></a></li>
		</ul>
	</div>


	<div style="display: blocks;justify-content: center;">
		<h1 style="color:#82d4f9;font-weight:bolder;text-align:center;">Create and edit your Songlist</h1>
	</div>
	<div>
		<div>
		<div class="input-field col s6">
			<input [(ngModel)]="newSong" class="underline_accenting" type = "text" placeholder = "song name" maxlength="30" />
		</div>
		<button md-button style="color:#82d4f9;" class="waves-effect waves-light waves-effect" (click)="addSong()"> Add Song </button>
		<md-card-content>
			<li *ngFor="let name of songlist;let n = index">
				<button style="margin-top:4px"  md-button class="waves-effect waves-light waves-effect" (click)="delete(n)">
					<i class="material-icons prefix">delete</i>
				</button>
				<span style="color:#82d4f9;font-weight:bolder;">{{n+1}}. {{name.name}}</span>
			</li>
		</md-card-content>
		</div>

</div>
