<div style="padding:2vh">
	<!-- Default HTML for setting up nav button -->
	<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white" (click)="animateLabels()">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<ng-container *ngIf="showLabels">
				<li *ngFor="let label of buttonLabels;let i = index"><span [@labelstate] class="fab_def">{{label}}</span><a (click)="emit_event(pageEmitters[i])" class="btn-floating white"><i class="material-icons" style="color:#263238">{{buttonIcon[i]}}</i></a></li>
			</ng-container>
		</ul>
	</div>

	<div style="display: blocks;justify-content: center;">
		<h1 style="color:#82d4f9;font-weight:bolder;text-align:center;">{{gigName}} : {{gigCode}}</h1>
	</div>
	<div style="padding-top:3px;padding-bottom:6px;text-align:center;justify-content: center;">
		<button md-button class="waves-effect waves-light btn light-blue accent-1" style="color:#263238;display:inline-block;margin-right:6px"
              (click)="addGig()"> Go Live </button>
		<button md-button class="waves-effect waves-light btn light-blue accent-1" style="color:#263238;display:inline-block;margin-right:6px"
              (click)="deleteGig()"> Hide </button>
		<button md-button class="waves-effect waves-light btn light-blue accent-1" style="color:#263238;display:inline-block;margin-right:6px"
              (click)="refresh()"> Refresh Requests </button>
	  <button md-button class="waves-effect waves-light btn light-blue accent-1" style="color:#263238;display:inline-block;"
              (click)="emit_event('bandpage')"> Back </button>
	</div>
	<div materialize class="col s12">
			<div style="margin-left:auto;margin-right:auto;width:75%;height:75%;overflow-y:scroll">
			  <md-card md-scroll-y>
			    <div style="text-align:center;padding-bottom:2vh" *ngFor="let request of requests">
							<div>{{request.Name}} : {{request.TimesRequested}}</div>
			    </div>
			  </md-card>
			</div>
	</div>

</div>
