<div style="height:100%;width:100%">
<!-- Default HTML for setting up nav button -->
	<div (click)="animateLabels()" class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
		<a class="btn-floating btn-large white">
			<i class="material-icons large mdi-navigation-menu" style="font-size:3em;width:auto !important;height:auto !important;color:#263238">fingerprint</i>
		</a>
		<ul>
			<!-- The click event here at the top button should either open a sign-in modal, or idk -->
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">{{topOption}}</span><a (click)="swap_view()" class="btn-floating white"><i class="material-icons" style="color:#263238">{{loggedInSymbol}}</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Chat</span><a (click)="emit_event('chat')" class="btn-floating white"><i class="material-icons" style="color:#263238">question_answer</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Request</span><a (click)="emit_event('request')" class="btn-floating white"><i class="material-icons" style="color:#263238">feedback</i></a></li>
			<li><span *ngIf="showLabels" [@labelstate] class="fab_def">Set</span><a (click)="emit_event('set')" class="btn-floating white"><i class="material-icons" style="color:#263238">music_video</i></a></li>
		</ul>
	</div>

	<h2 style="text-align:center;margin-top:0px;padding-top:3vh" class="text"> Request Songs </h2>
	<div materialize class="col s12">
			<div style="margin-left:auto;margin-right:auto;width:75%;height:75%;overflow-y:scroll">
			  <md-card md-scroll-y>
				<md-radio-group [(ngModel)]="requestedSong.Name">
			    <div style="text-align:center;padding-bottom:2vh" *ngFor="let set of gigSetList.SetsInSetList">
			      <md-card-title>
			        {{set.SetName}}
			      </md-card-title>
							<div style="margin-left:3vh;text-align:left" *ngFor="let song of set.SongsInSet">
							<md-radio-button value="{{song.Name}}">{{song.Name}}</md-radio-button>
						</div>
			    </div>
					</md-radio-group>
			  </md-card>
			</div>
	</div>

	<div style="text-align:center;padding-top:5vh">
    	<a (click)="submitRequest()" class="waves-effect waves-white btn white" style="color:#263238"><i class="material-icons right" style="!important;color:#263238">send</i>Submit</a>
	</div>

<!--
	<body>
		<p>request page</p>
		<div>
		<a (click)="emit_event('chat')" class="">chat</a>
		<a (click)="emit_event('rate')" class="">rate</a>
		<a (click)="emit_event('login')" class="">login</a>
		</div>
	</body>
-->
</div>
